{% extends 'base.html' %}

{% block navbar %}
  <div  class="bg-light" style="position: sticky; top: 0; z-index: 90;">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-top: 30px;">
            <a class="navbar-brand" href="{% url 'home:index' %}">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'vocabulary:word-list' %}">Words<span class="sr-only">(current)</span></a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'vocabulary:user-wordset-list' %}">Wordsets<span class="sr-only">(current)</span></a>
                </li>{% endif %}

                <!-- Dropdown LEVELS NAVIGATION -->
                {% load vocabulary_tags %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Levels
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% all_levels as levels %}
                    {% for level in levels %}
                      <a class="dropdown-item" href="{% url 'vocabulary:level' level.level %}">{{ level.level }}</a>
                    {% endfor %}
                  </div>
                </li>
              </ul>

              <!-- LOGIN -->
              {% if user.is_authenticated %}
                <ul class="navbar-nav"><li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}?next={{ request.get_full_path }}"><i class="fa fa-user"></i> Logout</a>
                </li></ul>
              {% else %}
                <ul class="navbar-nav"><li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}?next={{ request.get_full_path }}"><i class="fa fa-user"></i> Login</a>
                </li></ul>
              {% endif %}

              <!-- SEARCH -->
              <form class="form-inline my-2 my-lg-0" action="{% url 'vocabulary:search' %}">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search">
                <button class="btn btn-outline-gray my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
              </form>
              
            </div>
          </nav>
    </div>
  </div>
{% endblock %}