<div class="dropdown" style="display:inline;">
    <button class="btn btn-link dropdown-toggle btn-sm mt-1" style="color:green;" 
        type="button" id="dropdownMenuButton{{ word.id }}" 
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% comment %} <i class="fa fa-plus"></i> {% endcomment %}
        Add to
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ word.id }}">
        {% for wordset in wordset_list %}
            <a href="{% url 'vocabulary:wordset-add-word' wordset.id %}?w_id={{ word.id }}" class="dropdown-item" />
                {{ wordset.title }}</a>
        {% endfor %}
    </div>
</div>