{% extends 'base_menu.html' %}

{% load static %}
{% block content %}
    <div class="container mt-4">
    {% comment %} <img src="{% static 'vocabulary/image/vocab/'|add:vocabulary.picture %}" style="max-width:400px;" /> {% endcomment %}
    <h3>Edit vocabulary</h3>
        <form method="POST">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }} 
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                    {% endif %}
                </div>
            {% endfor %}

            <input type="submit" value="Update" class="btn btn-success"/>
            <a href="{% url 'vocabulary:user-vocabulary-list' %}" class="ml-2 btn btn-info">Cancel</a>
        </form>
        
    </div>
{% endblock %}