{% extends 'base_menu.html' %}

{% block content %}

    <div class="container mt-4">
        <h3>{{ vocabulary.title }}:</h3>
        
        <ul>{% for word_vocabulary in word_vocabulary_list %}
            <li><a href="{% url 'vocabulary:word-detail' word_vocabulary.word.word %}">
                <strong>{{ word_vocabulary.word.word }}</strong> <i>({{ word_vocabulary.word.level.level }}) - 
                {{ word_vocabulary.word.ru1 }}
                {% if word_vocabulary.word.ru2 %} / {{ word_vocabulary.word.ru2 }}{% endif %}</i></a>
                - stage: {{ word_vocabulary.stage }}
            </li>
        {% endfor %}</ul>
    </div>
{% endblock %}