{% extends 'base_menu.html' %}

{% load static %}
{% block content %}
    <div class="container mt-4">
        <h3>Your vocabularies:</h3>

        <div class="row row-cols-1 row-cols-md-4">
            <style>
                .card:hover {box-shadow: 0 0 8px rgba(0,50,100,0.5); z-index: 30;}
                .card-img-top {width: 100%; height: auto; object-fit: cover;}
            </style>

            {% for vocabulary in vocabulary_list %}
            <div class="col mb-0" style="padding: 4px;">     
                <div class="card h-100" onclick="window.location='{% url 'vocabulary:user-vocabulary-detail' vocabulary.id %}'">
                    <div class="bg-secondary" style="
                        background-image: url('{% static 'vocabulary/image/vocab/'|add:vocabulary.picture %}'); 
                        height:200px; 
                        background-position:top;
                        background-size:auto 212px;">
                    </div>
                    {% comment %} <img class="card-img-top" src="" width="100%" height=auto /> {% endcomment %}
                    <div class="card-body">
                        <h5 class="card-title">{{ vocabulary.title }}</h5>
                        <p class="card-text">{{ product.get_sex_display }}
                            <i>({{ vocabulary.get_words_str }})</i>
                            {{ vocabulary.word_set.all }}</a>
                        </p>
                        
                        <a class="btn btn-outline-info btn-sm" href="{% url 'vocabulary:vocabulary-update' vocabulary.id %}"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-outline-info btn-sm" href="{% url 'vocabulary:vocabulary-delete' vocabulary.id %}"><i class="fa fa-trash"></i></a>                        
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col mb-0" style="padding: 4px;">
                {% comment %} <a href="{% url 'vocabulary:vocabulary-create' %}" class="card h-100 btn btn-success">
                    Create vocabulary</a> {% endcomment %}
                <div class="card h-100 bg-success text-white text-center" 
                    onclick="window.location='{% url 'vocabulary:vocabulary-create' %}'"
                    onmouseover="style='cursor: pointer;'">
                    <div class="container h-100">
                        <div class="row align-items-center h-100">
                            <div class="col">
                                <h4 class="mt-4 mb-3"><i class="fa fa-plus"></i></br>
                                    Add dictionary</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}