{% extends 'base_menu.html' %}

{% block content %}
    <div class="container mt-4">
        <h3>New vocabulary</h3>

        <form method="POST">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }} 
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                    {% endif %}
                </div>
            {% endfor %}

            <input type="submit" value="Create" class="btn btn-success"/>
            <a href="{% url 'vocabulary:user-vocabulary-list' %}" class="ml-2 btn btn-info">Cancel</a>
        </form>
        
    </div>
{% endblock %}