{% extends 'base_menu.html' %}

{% block content %}
    <div class="container mt-4">
        <h3>Your vocabularies:</h3>
        
        <ul class="list-unstyled">
            {% for vocabulary in vocabulary_list %}
            <li class="mb-2">
                <a href="{% url 'vocabulary:user-vocabulary-detail' vocabulary.id %}" class="btn btn-outline-secondary">
                <strong>{{ vocabulary.title }}</strong> <i>({{ vocabulary.get_words_str }})</i>
                {{ vocabulary.word_set.all }}</a>
                <span style="color:gray;">
                    <a class="btn btn-outline-info" href="{% url 'vocabulary:vocabulary-update' vocabulary.id %}"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-outline-info" href="{% url 'vocabulary:vocabulary-delete' vocabulary.id %}"><i class="fa fa-trash"></i></a>
                </span>
            </li>{% endfor %}
            <li>
                <a href="{% url 'vocabulary:vocabulary-create' %}" class="btn btn-primary">
                    Create vocabulary</a>
            </li>
        </ul>
        
    </div>
{% endblock %}