{% extends 'base_menu.html' %}

{% load static %}
{% block content %}
    <div class="container mt-4 text-center">
        <style>
            img { 
                filter: blur(15px);
            }
            img:hover {
                filter: blur(0px);
            }
        </style>
        <img src="{% static 'vocabulary/image/word/'|add:word.picture %}" style="max-width:400px;" />
        <h3>{{ word.word }} <small><i>({{ word.level.level }})</i></small></h3>
        
        <p>{{ word.ru1 }}{% if word.ru2 %} / {{ word.ru2 }}{% endif %}</p>
        {% if word.audio %}
            <audio id="audio" src="{% static 'vocabulary/audio/'|add:word.audio %}"></audio>
            <div>
                <h4><a href="" onclick="document.getElementById('audio').play(); return false;"><i class="fa fa-volume-up"></i></button></a></h4>
            </div>
        {% else %}
            <p style="color:gray;">- No audio -</p>
        {% endif %}
        
        {% if user.is_authenticated %}
            {% load vocabulary_tags %}
            {% user_vocabulary_set user as vocabulary_list %}
            {% include 'vocabulary/include/add_to_vocabulary_dropdown.html' %}
        {% endif %}

        <script type="text/javascript">
            document.getElementById('audio').play()
        </script>
    </div>
{% endblock %}